@use 'base/variables' as v;
@use 'base/mixins' as m;

.tabs{
  @include m.tablet{
    display: flex;
  }
  button {
    background-color: v.$azul;
    border:none;
    padding:1rem;
    display:block;
    width: 100%;
    color:v.$blanco;
    margin-bottom:1rem;
    text-transform: uppercase;
    font-weight: v.$bold;
    transition: background-color 400ms ease;

    &:hover{
      cursor: pointer;
      background-color: darken(v.$azul, 35%)
    }
    &.actual{
      background-color:v.$blanco;
      color:v.$azul;
    }

  }
}